<% if notice %>
<div class="alert alert-info m-2" role="alert"><%= notice %></div>
<% end %>
<title>Carts</title>

<h1 class="mt-2">Carts</h1>
<br>
    <% @carts.each do |cart| %>
      <%# <div class="row"> %>
        <div class="container-fluid">
        <%# <div> %>
        
          <div class="row links"><%= link_to 'Show', cart, class:"col btn btn-showing" %> </div>
          <div class="row links "><%= link_to 'Edit', edit_cart_path(cart), class:"col btn btn-editing"%> </div>
          <div class="row links"><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' }, class:"col btn btn-destroying"%> </div>
          <div class="mb-4"></div>
        <%# </div> %>
      </div>
    <% end %>
 
<br>

<div class="links"><%= link_to 'New Cart', new_cart_path, class:"col btn btn btn-orange" %></div>
