<%# <p id="notice"><%= notice % ></p> %>
<br>
<title>Your cart</title>
<% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>


    <h1>Your cart contains: </h1>

    <div class="container-fluid">
        <% @cart.line_items.each do |item|%>
           <ul class="list-unstyled">
                <li class="media">  <%= image_tag(item.product.image_url, class:"cart-img mr-3 mt-1 rounded", alt:item.product.title )%>
                    <div class="media-body align-self-center">
                        <h4 class="font-italic"><%= item.product.title%></h4>
                    </div>
                </li>
           </ul>
        <% end %>
    </div>

<br>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
