<%# <p id="notice"><%= notice % ></p> %>
<br>
<title>Your cart</title>
<% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>


    <h1 class="mt-2">Your cart contains: </h1>

    <div class="container-fluid">
        
           <ul class="list-unstyled">
              <% @cart.line_items.each do |item|%>
                 <li class="media">  <%= image_tag(item.product.image_url, class:"cart-img mr-3 mt-1 rounded", alt:item.product.title )%>
                     <div class="media-body align-self-center">
                         <h5 class="font-italic"> <%= item.product.title%> &times; <span class="font-weight-bold"><%= item.quantity%><span> </h5>
                     </div>
                 </li> 
              <% end %>
           </ul>

<span style="margin-top=0.95em;"></span>
                <div class=""><h4>Cart Total: <%= number_to_currency(@cart.total_price)%></h4></div>
<br>
<%# <span class="my-4"></span> %>

        <%= button_to 'Empty cart', @cart, method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-submit"%>
    </div>

<span class="m-3"></span>

<div class="links"><%= link_to 'Edit', edit_cart_path(@cart), class:"col btn btn btn-warning" %></div>

<div class="links"><%= link_to 'Back', carts_path, class:"col btn btn-primary" %></div>
