<%# <p id="notice"><%= notice % ></p> %>
<br>
<title>Your cart</title>
<% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>


    <h1 class="mt-2">Your cart contains: </h1>

    <div class="container-fluid">
        <% @cart.line_items.each do |item|%>
           <ul class="list-unstyled">
                <li class="media">  <%= image_tag(item.product.image_url, class:"cart-img mr-3 mt-1 rounded", alt:item.product.title )%>
                    <div class="media-body align-self-center">
                        <%# <h4 class="font-italic"> <%= item.product.title% > &times; <%= item.quantity % > </h4> %>
                        <h4 class="font-italic"> <%= item.product.title%> &times; <span class="font-weight-bold"><%= item.quantity%><span> </h4>
                    </div>
                </li>
           </ul>
        <% end %>
    </div>

<span class="m-3"></span>

<div class="links"><%= link_to 'Edit', edit_cart_path(@cart), class:"col btn btn btn-warning" %></div>

<div class="links"><%= link_to 'Back', carts_path, class:"col btn btn-primary" %></div>
