<p id="notice"><%= notice %></p><%# Why? %>

<div class="container-fluid">
<%# <div class="col col-xs col-sm col-md col-lg col-xl"> %>
<h1>Products</h1>

<table class="table table-striped">
  <thead>
    <%# <tr> %>
      <%# <td colspan="3"> %>
      <div class="add-new-product"><%= link_to 'Add New Product', new_product_path %></div>
      <%# </td> %>
    <%# </tr> %>
  </thead>
<%# <br> %>
  <tfoot>
    <tr>
      <td colspan="3">
          <div style="background-color:rgb(55, 55, 155);"><%= link_to 'Add New Product', new_product_path %></div>
        <%#= link_to 'Add New Product', new_product_path %>
      </td>
    </tr>
  </tfoot>

  <tbody>
    <% @products.each do |product|%>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>"><%# Why? - not working. Supposed to be like  table-striped but isn't %>

        <td>
            <%= image_tag(product.image_url, class: 'list_image')  %> 
             <%# <%= image_tag(product.image_url, class: 'list_image',size: "200x200")  << Hard code the image size%>      
        </td>
        <%# <div style="height:400px; width:400px"></div> %>
        

        <td class="description">
            <h2><%= product.title %></h2>
            <p>
              <%= truncate(strip_tags(product.description), length: 80)%>
              <%# Strips description of HTML tags then will only show the first 80 chars.  %>
            </p>
        </td>

        <td class="actions">
          <ul class="right-btns">
            <li><%= link_to 'Show', product, class:"col btn btn-sm btn-info"%></li>  <br>
            <li><%= link_to 'Edit', edit_product_path(product), class:"col btn btn-sm btn-warning" %></li><br>
            <li><%= link_to 'Destroy',
                             product,
                             method: :delete,
                             data: { confirm: 'Are you sure?'},
                             class:"col btn btn-sm btn-danger" %>
            
            </li>
          </ul>
        </td><%# end of class='actions' %>
      </tr>
      <%end%>
  </tbody>
</table>

<br>
</div>
<%# </div> %>

<%#  TO DO:
Make responsive
 %>
