<p id="notice"><%= notice %></p><%# Why? %>
<div class="container-fluid justify-content-center">
<h1>Open source content</h1>
        <hr> <%# make darker %>
       
<br>

    <ul style="list-style: none;">
      <% cache @products do %>
        <% @products.each do |product|%>
            <% cache product do %>
                <div style="margin-bottom: 2em;">
                    <li class="row">
                        <%= image_tag(product.image_url) %>

                        <div class="col">
                            <h2><%= product.title %></h2>
                            <%# <div class="h6"><%= sanitize(product.description) % ></div> %>
                            <div class="h6"><%= strip_tags(product.description)%></div>
                        <br>
                            <div class="lead" id="price"><%= number_to_currency(product.price) %></div>
                        <br>
                            <button class="btn btn-outline-primary"><%= 'Buy Now' %></button>
                            <%# <button class="btn btn-outline-primary"><%= link_to 'Buy Now', product % ></button> %>
                        </div> 
                    </li>
                </div>
            <% end %>
        <% end %>
      <% end %>
            </ul>
</div>
