<p id="notice"><%= notice %></p>

<%# <% if session[:counter]= true % >
    <%= @session % >
<% end % > %>

<title>Open source content | Home</title>
<div class="container-fluid justify-content-center">
<h1>Open source content</h1>
        <hr> <%# make darker %>
       
<br>

    <ul style="list-style: none;">
      <% cache @products do %>
        <% @products.each do |product|%>
            <% cache product do %>
                <div style="margin-bottom: 2em;">
                    <li class="row">
                        <%= image_tag(product.image_url, class:"rounded") %>

                        <div class="col">
                            <h2><%= product.title %></h2>
                            <%# <div class="h6"><%= sanitize(product.description) % ></div> %>
                            <div class="h6"><%= strip_tags(product.description)%></div>
                        <br>
                            <div class="lead col" id="price"><%= number_to_currency(product.price) %></div>
                        <br>
                            <%= button_to 'Add to Cart', line_items_path(product_id: product), :class => "btn btn-lg btn-outline-primary" %>
                        </div> 
                    </li>
                </div>
            <% end %>
        <% end %>
      <% end %>
            </ul>
</div>
