<!DOCTYPE html>
<html>
  <head>
    <title>Open source content</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery-3.3.1.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track': 'reload' %>
    <% time= Time.now%>
  </head>

  <body>
      <%#= image_tag 'saguiLogo.svg', alt: 'Sagui' %>
      <%# <a class="fas fa-shopping-cart" href="/carts"></a> %>
      <div id="navTop" class="container-fluid" style="height: 5.5em; padding-right:0;">
        <a href="/"><%= image_tag('saguiLogo.svg', alt: 'home', class: 'svg') %></a>  
        <a class="fas fa-shopping-cart" id="cart" href="/carts"></a>
          <span class="text-light font-weight-bold" style="padding-right:.2em;"><%= time.strftime("%I:%M%p %A, %B %d, %Y %Z")%></span>
        <h1><%= @page_title%><h1>
      </div>

      <div class="row">

        <div id="navSide" class="col-lg-2 col-xl-2">
          <nav class="navbar navbar-expand-lg text-uppercase">
              <button class="navbar-toggler" id="customToggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto flex-column">
                  <li class="nav-item">  <a id="navLink" class="nav-link" href="/">Home</a></li>
                  <li class="nav-item">  <a id="navLink" class="nav-link" href="/products">Products</a></li>
                  <li class="nav-item">  <a id="navLink" class="nav-link" href="/questions">Questions</a></li>
                  <li class="nav-item">  <a id="navLink" class="nav-link" href="/news">News</a></li>
                  <li class="nav-item">  <a id="navLink" class="nav-link" href="/contact">Contact</a></li>

                  <form class="col-form-label-sm">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-sm btn-outline-dark btn-block" type="submit">Search</button>
                </form>
                </ul>
              </div>
              </div>
          </nav><%# End of navbar %>

          <div class="col">
            <main class='<% controller.controller_name%>'>
                <%= yield %>
            </main>
          </div>
      </div>


                                        <p class="text-center"><small>Made with 💖 by Love</small></p>
                                        <%# <p class="text-center"><small style="color: green;">Icons made by <a style="color: green;" href="https://www.flaticon.com/authors/twitter" title="Twitter">Twitter</a> from <a style="color: green;" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a style="color: green;" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small></p> %>
  </body>
</html>
